<h1><%= @cat.name %></h1>
<table>
  <tr>
    <th>Age</th>
    <th>Sex</th>
    <th>Color</th>
  </tr>
  <tr>
    <td><%= @cat.age %> years</td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.color %></td>
  </tr>
</table>
<h3>Description: </h3>
<%= @cat.description %>
